<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body ng-app="ShoppingListCheckOff">
  <div class="container" >
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller = 'ToBuyController as toBuy'>
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in toBuy.items">
          Buy {{item.quantity}} of {{item.name}} 
          <button ng-click="toBuy.buy($index)" class="btn btn-default"> Check the item </button>
       </li>
     </ul>
     <div ng-if="toBuy.items.length == 0" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as boughtList">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in boughtList.items">
          {{item.quantity}} of {{item.name}}
       </li>
     </ul>
     <!-- <div ng-show="boughtList.items.length == 0" class="emptyMessage">Nothing bought yet.</div> -->
     <div ng-hide="boughtList.items.length != 0" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
